*{
    padding: 0;
    margin: 0;
  box-sizing: border-box;

}

.body
{
    padding-bottom: 70px;
    background-color:#643A6B;

}
.first{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 20px;

}

.first h2{
    font-size: x-large;
   font-weight:bolder;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    padding-top: 39px;
    padding-left: 40px;

}

.nav{
    display: flex;
    justify-content: space-between;
color: aliceblue;
font-size: small;
padding-top: 39x;

}
.nav a{
    padding-top: 39px;
    padding-right: 35px;
    font-size: 20px;
}
.borde1{
    color: #643A6B;
    background-color: aliceblue;
   border-radius: 45px;
   padding: 26px;
   
}



.text h1{
    color: aliceblue;
    padding: 0px 300px;
    padding-top: 160px;
    
    font-size: xx-large;
    font-size: 40px;
    font-weight: 900;
    text-align: center;

}

.text p{
    color: aliceblue;
    padding: 0 280px;
    padding-top: 40px;
    font-size: medium;
    font-size: 20px;
}

.fine{
    color: aliceblue;
    font-size: 25px;
    font-weight: 800;
    padding: 80px 40%;  

}
.fine a{
    background-color: blue;
    border-radius: 25px;
    padding: 8%;
}

footer{
   background-color: aliceblue;
   
   font-weight: 700;
   font-size: 20px;
   padding-top: 55px;
   text-align: center;
}
.image{
    padding-top: 35px;
}

.image img{
width: 150px;

}

.code{
    padding-top: 65px;
    justify-content: center;
    display: flex;
    margin-bottom: 125px;
    
   
}


.link1{
  font-size: 20px;
  font-weight: 200;
    
   

}

/*page 3*/

.page2{
background-image: url(image/OR68VT0.jpg);
background-size: cover;
background-repeat: no-repeat;

height: 65vh;




}

.par{
    color: white;
    padding: 10%;
}
.par p{
    font-size: 20px;
    
    font-weight: 100;
   padding: 30px 330px;
   font-style: normal;
}
.par h2{
    font-size: 50px;
    font-style: normal;
    font-size: xx-large;
    font-weight: 900;
}

.par a{
    color: aliceblue;
    background-color: blue;
    border-radius: 20px;
    padding: 10px 30px;
    
}

/*-------page 3--------*/

.page3{
    background-color: white;
    padding-top: 80px;
    
}
.page3 h1{
    color: rgb(0, 0, 107);
    font-weight: 800;
    font-size: 35px ;
}
.page3 p{
    padding-top: 18px;
    color: rgb(148, 144, 144);
    font-weight: 400;
}
.card2{
    margin-top: 170px;
}
.solo a{
    background-color: rgb(4, 236, 159);
    border-radius: 35px;
    padding: 140px;
}

