*{
    padding: 0;
    margin: 0;
  box-sizing: border-box;

}

.body
{
    padding-bottom: 70px;
    background-color:#643A6B;

}
.first{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 20px;

}

.first h2{
    font-size: x-large;
   font-weight:bolder;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    padding-top: 39px;
    padding-left: 40px;

}

.nav{
    display: flex;
    justify-content: space-between;
color: aliceblue;
font-size: small;
padding-top: 39x;

}
.nav a{
    padding-top: 39px;
    padding-right: 35px;
    font-size: 25px;
    text-decoration: none;
}
.borde{
    color: white;
}
.borde1{
    color: #643A6B;
    background-color: aliceblue;
   border-radius: 45px;
   padding: 26px;
   text-decoration: none;
}



.text h1{
    color: aliceblue;
    padding: 0px 300px;
    padding-top: 160px;
    
    font-size: xx-large;
    font-size: 40px;
    font-weight: 900;
    text-align: center;

}

.text p{
    color: aliceblue;
    padding: 0 280px;
    padding-top: 40px;
    font-size: medium;
    font-size: 20px;
}

.fine{
    color: aliceblue;
    font-size: 25px;
    font-weight: 800;

    padding: 80px 40%;  
text-align: center;
}
.fine a{
    background-color: blue;
    border-radius: 25px;
    padding: 8%;
    color: white;
    text-decoration: none;
}

footer{
   background-color: aliceblue;
   
   font-weight: 700;
   font-size: 20px;
   padding-top: 55px;
   text-align: center;
}
.image{
    padding-top: 35px;
}

.image img{
width: 150px;

}

.code{
    padding-top: 65px;
    justify-content: center;
    display: flex;
    margin-bottom: 125px;
    
   
}


.link1{
  font-size: 20px;
  font-weight: 200;
    
   

}

/*page 3*/

.page2{
background-image: url(image/OR68VT0.jpg);
background-size: cover;
background-repeat: no-repeat;

height: 65vh;
background-attachment: fixed;


}

.par{
    color: white;
    padding: 10%;
}
.par p{
    font-size: 20px;
    
    font-weight: 100;/*
   padding: 30px 330px;*/
   font-style: normal;
   padding: 80px 15%;
   
}
.par h2{
    font-size: 50px;
    font-style: normal;
    font-size: xx-large;
    font-weight: 900;
}

.par a{
    color: aliceblue;
    background-color: blue;
    border-radius: 20px;
    padding: 10px 30px;
    text-decoration: none;
}

/*-------page 3--------*/

.page3{
    background-color: white;
    padding-top: 80px;
    
}
.page3 h1{
    color: rgb(0, 0, 107);
    font-weight: 800;
    font-size: 35px ;
}
.page3 p{
    padding-top: 18px;
    color: rgb(148, 144, 144);
    font-weight: 400;
}

/*----------*/


/*////////////////////////*/

.card2{
background-color: white;

text-align: center;
display: flex;
justify-content: space-between;


}

.solo  {
    background-color: rgba(223, 222, 222, 0.861);
    border-radius: 30px;    
    margin: 100px 25px;

}
.solo h3{
    display: flex;
color: rgb(10, 10, 78);
text-align: start;
padding-left: 40px;
padding-top: 40px;
font-size: 19px;
font-weight: 600;

}

.solo h1{

color: rgb(10, 10, 78);
text-align: start;
padding-left: 40px;
padding-top: 20px;
}
.solo p{
    padding-right: 15px;
    color: rgba(110, 106, 106, 0.683);
    
    text-align: start;
    
    padding-left: 40px;
    padding-top: 32px;
    font-weight: 400;
    padding-bottom: 20px;
}


.solo a{
    text-decoration: none;
    color: white;
    background-color: blue;
    border-radius: 25px;
    margin: 30px 50px;
    padding: 11px 25px;
    
    display: flex;
    text-align: center;
    
}

.solo25{
    background-color: blue;
    border-radius: 30px;

}

.solo25 h3{color: aliceblue;}
.solo25 h1{color: aliceblue;}
.solo25 p{color: aliceblue;}
.solo25 a{
 
color: rgb(10, 10, 78);
   background-color: aliceblue;
}

/*----------------------*/
.back{
    background-color: white;
    padding: 0px 3%;
}
.icon4{
    background-color: #643A6B;
    border-radius: 45px;
    text-align: start;
    margin:10px 40px;
    padding-bottom: 3%;
    display: flex;
    
}
.icon4 img{
    width: 60%;
    padding: 35px 8%;
  
}
.icon4 h1{
    padding-top:36%;
    color: white;
    font-weight: 900;
    font-size: 30px;

}

.icon4 h3{
padding-top: 5%;
color: white;
font-weight: 100;
font-size: 20px;
font-style:initial;
font-family:Georgia, 'Times New Roman', Times, serif ;
padding-bottom: 40px;
}
.text4 a{
    text-decoration: none;
    background-color:white ;
    border-radius: 100px;
     padding: 4% 10%;   



}


/*---------------------*/

.name2{
display: flex;
padding: 60px ;
justify-content: space-between;

}

.name22{

    color: rgb(10, 10, 78);
    font-size: 41px;
    padding-left: 6rem;
}

.and1{

    text-align: end;
    display: flex;
    justify-content: space-between;
}


.div{
    padding:0px 80px;
    text-align: start

}
.div h1{
    font-size: 23px ;

    color: rgb(10, 10, 78);
    font-weight: 900;
    padding-bottom: 12px;
}
.div a{
    font-weight: 400;
    text-decoration: none;
    
color: rgb(10, 10, 78);
}

.div a:hover{ text-decoration-line: underline;}

@media screen and (max-width:600px){
   .body{
    margin-right: -215px;
   }
    .all01{
    }
    .first h2{
        padding-left: 10px;
    }
    .text{
    margin: -80px -250px;
    }
    
}